* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(dovebackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family:vogue;
    src: url(vogue.ttf);
  }

@font-face {
    font-family:redaction;
    src: url(Redaction35Italic-rgDrB.otf);
}

@font-face {
    font-family:helvetica;
    src: url(roman.otf);
}

.h1 {
    font-family: vogue;
    font-size: 50px;
    color: black;
    text-align: center;
}

.rainbow:hover {
    cursor: pointer;
    animation-name: rainbow;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes rainbow {
    0% {
        color: #040400;
    }
    12.5% {
        color: #d6dc96;
    }
    25% {
        color: #f1e492;
    }
    37.5% {
        color: #a8b4b5;
    }
    50% {
        color: #3674aa;
    }
    72.5% {
        color: #9d2828;
    }
    0% {
        color: #b8bb83;
    }
    0% {
        color: #040400;
    }
}

@keyframes greenbow {
    0% {
        background-color: #ffffff;
    }
    33% {
        background-color: #d6dc96;
    }
    66% {
        background-color: #f1e492;
    }
    100% {
        background-color: #ffffff;
    }
}

@keyframes float {
    0% {
        margin-top: -62.5px;
    }
    100% {
        margin-top: -50px;
    }
}

@keyframes sink {
    0% {
        margin-top: -37.5px;
    }
    100% {
        margin-top: -50px;
    }
}

@keyframes slide {
    0% {
        margin-top: -25px;
        margin-left: -25px;
    }
    100% {
        margin-top: -25px;
        margin-right: -25px;
    }
}

@keyframes switch {
    0% {
        margin-top: -25px;
        margin-right: -25px;
    }
    100% {
        margin-top: -25px;
        margin-left: -25px;
    }
}

.p1 {
    font-family: redaction;
    font-size: 15px;
    color: black;
    text-align: center;
    line-height: 0;
    margin: 0;
}

.p2 {
    font-family: helvetica;
    font-size: 17px;
    line-height: 1.5;
    color: black;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.labelanimate1 {
    animation-name: rainbow, float;
    animation-duration: 8s, 2s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, alternate;
    animation-timing-function: linear, linear;
}

.labelanimate2 {
    animation-name: rainbow, slide;
    animation-duration: 8s, 2s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, alternate;
    animation-timing-function: linear, linear;
}

.labelanimate3 {
    animation-name: rainbow, sink;
    animation-duration: 8s, 2s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, alternate;
    animation-timing-function: linear, linear;
}

.labelanimate4 {
    animation-name: rainbow, switch;
    animation-duration: 8s, 2s;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, alternate;
    animation-timing-function: linear, linear;
}

.p1.pointertext {
    cursor: pointer;
}

img {
    max-width:100%;
    transition: transform linear;
  }
  
.hover:hover {
    transform: rotate(45deg);
    cursor: pointer;
  }

.sound {
    width: 50px;
    height: 70px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.arc {
    width: 88%;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    width: 1600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dove1 {
    width: 250px;
    height: 250px;
    border: solid 1px back;
    margin-top: 275px;
    display: flex;
    flex-direction: column;
}

.dove2 {
    width: 250px;
    height: 250px;
    border: solid 1px back;
    margin-top: 125px;
}

.dove3 {
    width: 250px;
    height: 250px;
    border: solid 1px back;
    margin-top: 25px;
}

.dove4 {
    width: 250px;
    height: 250px;
    border: solid 1px back;
    margin-top: 125px;
}

.dove5 {
    width: 250px;
    height: 250px;
    border: solid 1px back;
    margin-top: 275px;
}

 /* unvisited link */
 a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  } 

.page1 {
    height: 100vh;
    width: 100%;
    background: white;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article {
    width: 800px;
    height: 100vh;
    overflow: scroll;
    padding-top: 100px;
}

.xout {
    height: 37.5px;
    width: 100%;
    border-top: solid 1px black;
    background: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.about {
    height: 76vh;
    width: 75%;

    animation-name: greenbow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;

    background: white;
    border: solid 1px black;
    visibility: hidden;
    position: fixed;
    top: 12%;
    bottom: 12%;
    left: 12.5%;
    right: 12.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.xabout {
    height: 25px;
    width: 25px;
    border: solid 1px black;
    background: white;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.albumcover {
    height: 800;
    width: 800px;
    position: absolute;
    margin: 0 auto;
    animation-name: albumspin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    cursor: pointer;
}

.sidephoto {
    height: auto;
    width: auto;
    position: absolute;
    margin: 0 auto;
    animation-name: albumspin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    cursor: pointer;
}

@keyframes albumspin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}