* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(dovebackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family:vogue;
    src: url(vogue.ttf);
  }

@font-face {
    font-family:redaction;
    src: url(Redaction35Italic-rgDrB.otf);
}

.h1 {
    font-family: vogue;
    font-size: 50px;
    color: black;
    text-align: center;
}

.rainbow:hover {
    cursor: pointer;
    animation-name: rainbow;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes rainbow {
    0% {
        color: #040400;
    }
    12.5% {
        color: #d6dc96;
    }
    25% {
        color: #f1e492;
    }
    37.5% {
        color: #a8b4b5;
    }
    50% {
        color: #3674aa;
    }
    72.5% {
        color: #9d2828;
    }
    0% {
        color: #b8bb83;
    }
    0% {
        color: #040400;
    }
}

.p1 {
    font-family: redaction;
    font-size: 15px;
    color: black;
    text-align: center;
    line-height: 0;
    margin: 0;
}

.p1.pointertext {
    cursor: pointer;
}

img {
    max-width:100%;
    transition: transform linear;
  }
  
.hover:hover {
    transform: rotate(45deg);
    cursor: pointer;
  }

.sound {
    width: 50px;
    height: 70px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.arc {
    width: 1600px;
    height: 600px;
    position: relative;
}

.title {
    width: 1600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dove1 {
    width: 250px;
    height: 250px;
    background: gay;
    border: solid 1px back;
    position: absolute;
    left: 10px;
    top: 275px;
}

.dove2 {
    width: 250px;
    height: 250px;
    background: gay;
    border: solid 1px back;
    position: absolute;
    top: 125px;
    left: 310px;
}

.dove3 {
    width: 250px;
    height: 250px;
    background: gay;
    border: solid 1px back;
    position: absolute;
    top: 25px;
    left: 675px;
}

.dove4 {
    width: 250px;
    height: 250px;
    background: gay;
    border: solid 1px back;
    position: absolute;
    top: 125px;
    right: 310px;
}

.dove5 {
    width: 250px;
    height: 250px;
    background: gay;
    border: solid 1px back;
    position: absolute;
    right: 10px;
    top: 275px;
}

 /* unvisited link */
 a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  } 

.page1 {
    height: 100vh;
    width: 100%;
    background: lightcyan;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.xout {
    height: 25px;
    width: 50px;
    border: solid 1px black;
    background: white;
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.about {
    height: 76vh;
    width: 75%;
    background: white;
    border: solid 1px black;
    visibility: hidden;
    position: fixed;
    top: 12%;
    bottom: 12%;
    left: 12.5%;
    right: 12.5%;
}

.xabout {
    height: 25px;
    width: 25px;
    border: solid 1px black;
    background: white;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}